.landingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 10vh;
}

.fullscreen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titlegroup {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-weight: bold;
  text-align: center;
}

.subtitle {
  font-size: 28px;
  font-weight: 300;
  text-align: center;
}

.partide::-webkit-scrollbar {
  display: none;
}

.partide {
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
  align-items: center;
  height: 200px;
  overflow-y: scroll;
  padding: 20px;
}

.politicieni {
  display: grid;
  gap: 40px;
  width: 80%;
  font-size: 1.2em;
}

.politicienicount {
  height: max-content;
  display: flex;
  justify-content: center;
}

/* Desktop (Landscape) */
@media (min-width: 768px) {
  .titlegroup {
    height: 30vh;
    margin-top: 30vh;
    margin-bottom: 15vh;
  }

  .title {
    font-size: 4.75rem;
  }

  .subtitle {
    font-size: 2.25rem;
  }

  .searchWrapper {
    width: 30%;
    min-width: 450px;
  }

  .politicieni {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

/* Mobile (Portrait) */
@media (max-width: 768px) {
  .titlegroup {
    margin-top: 12vh;
    margin-bottom: 3vh;
  }

  .title {
    font-size: 2.75rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .searchWrapper {
    width: 80%;
    max-width: 450px;
  }

  .partide {
    width: 90%;
    height: 150px;
  }

  .politicieni {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}

.politicianlink {
  text-decoration: none;
  color: inherit;
}
