.landingPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 30vh;
  padding-bottom: 10vh;
}

.title {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.subtitle {
  font-size: 28px;
  font-weight: 300;
  text-align: center;
}

.politicieni {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(5em, 9em), 1fr));
  margin-top: 80px;
  gap: 40px;
}

.partide::-webkit-scrollbar {
  display: none;
}

.partide {
  margin-top: 60px;
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
  align-items: center;
  height: 200px;
  overflow-y: scroll;
  padding-inline: 10px;
}

/* Desktop (Landscape) */
@media (min-width: 768px) {
  .searchWrapper {
    width: 30%;
    min-width: 450px;
  }

  .partide {
    width: 60%;
  }

  .politicieni {
    width: 60%;
  }
}

/* Mobile (Portrait) */
@media (max-width: 768px) {
  .searchWrapper {
    width: 80%;
    max-width: 450px;
  }

  .partide {
    width: 90%;
    height: 150px;
  }
}

.politicianlink {
  text-decoration: none;
  color: inherit;
}
