.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 30vh;
}

.title {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.subtitle {
  font-size: 28px;
  font-weight: 300;
  text-align: center;
}

.items {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-top: 60px;
  gap: 20px;
}

/* Desktop (Landscape) */
@media (min-width: 768px) {
  .searchWrapper {
    width: 30%;
    min-width: 450px;
  }
}

/* Mobile (Portrait) */
@media (max-width: 768px) {
  .searchWrapper {
    width: 80%;
    max-width: 450px;
  }
}
