.partycard {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: height 0.5s, width 0.5s;
  -webkit-transition: height 0.5s, width 0.5s;
}

/* Desktop (Landscape) */
@media (min-width: 768px) {
  .partycard {
    width: 100px;
    height: 100px;
    cursor: pointer;
  }

  .partycard:hover {
    width: 150px;
    height: 150px;
  }

  .partycard.isSelected {
    width: 150px;
    height: 150px;
  }
}

/* Mobile (Portrait) */
@media (max-width: 768px) {
  .partycard {
    width: 60px;
    height: 60px;
  }

  .partycard.isSelected {
    width: 80px;
    height: 80px;
  }
}
